
.conteudo_sobre_nos{
background: linear-gradient(#e0f7d9, #adf597); 

width: 100%;
display: flex;
flex-wrap: wrap;
padding-top: 1em ;
justify-content: space-around;
}

.titulo_sobre_nos{
   font-size: 65px;
  color: #05912f;
  background-color: #e0f7d9;
  padding-left: 3em;
  
   
}

.p_sobre_nos{
font-size: 23px;
color: #021808;
width: 60%;
font-style: italic;
text-align: center;

 

}
.img_conteudo{
width: 300px;
height: 250px;


}
.compromisso{
  background: linear-gradient(#adf597, #8bee6c); 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em ;
  justify-content: space-around;


}
.img_compromisso{
width: 300px;
height: 250px;

 
}
.titulo_compromisso{
  font-size: 40px;
  color: #05912f;
  background-color: #adf597;
  padding-left: 3em;


}
.lu_compromisso{
font-size: 30px;
width: 50%;
 
}
.li_compromisso{
padding-bottom: 1em;
font-style: italic;

}
.li_compromisso::before{
content:"🌽" ;
} 
.local_contato{
background: linear-gradient(#8bee6c, #6c975f);
width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em ;
  justify-content: space-around;
  padding: 1em;
}
.titulo_contato{
  font-size: 40px;
  color: #05912f;
  background-color: #8bee6c;
  padding-left: 3em;
  
  
}
.lu_local_contato{
font-size: 25px;
width: 40%;

}
li_local_contato{
margin: 5px;
font-style: italic;
}
#fone::before{
content:"🕿 " ;
} 
#whats::before{
content:"🕿 " ;
}
#email:before{
  content: "@ ";
}
.mapa{
width: 350x;
height: 300px;

}


@media screen and (max-width: 580px) {
  .caixa_logo,.conteudo_sobre_nos,.img_conteudo,.img_compromisso,.conteudo_sobre_nos,.compromisso
  .lu_compromisso,.local_contato,.lu_local_contato,.mapa,.compromisso.local_contato,.p_sobre_nos,main{
      width: 100%;
      
        display: flex;
        flex-direction: column;
        justify-content: center;
       }
      
     
     
}
