header{
  background-color:  #c9f5cd ;
 
}
.logo_principal{
 width: 300px;
 height: 250px; 
 margin: 15px 30px 15px 80px;

}
.p_titulo{
 font-size: 65px;
 color: #05912f;
 margin: 0;
 position: absolute;
 top: 20%;
 left: 50%;

 transform: translate(-50%, -50%)
}
.p_subtitulo{
 font-size: 20px;
 color: black;
 margin: 0;
 position: absolute;
 top: 25%;
 left: 27%;
}
.menu_principal{
 font-size: 30px;
 position: absolute;
 top: 78px;
 left: 85%;
}
.li_principal{
 color: #05912f;
 margin: 35px;
}
.conteudo_sobre_nos{
background: linear-gradient(#e0f7d9, #adf597); 
width: 100%;
height: 600px;
}

.titulo_sobre_nos{
   font-size: 65px;
  color: #05912f;
   text-align:center;
}

.p_sobre_nos{
font-size: 23px;
 color: #021808;
 margin: 50px 10px 10px 30px;
 text-align:center;
 position: absolute;
 right: 40%;
 left: 1%;
 font-style: italic;

}
.img_conteudo{
width: 300px;
height: 250px;
position: absolute;
 right: 1%;
 left: 65%;
}
.img_compromisso{
width: 300px;
height: 250px;
position: absolute;
right: 1%;
 left: 73%;
 top: 600px;
 
}
.titulo_compromisso{
font-size: 40px;
color: #05912f;
position: absolute;
top: 600px;
left: 10%;

}
.lu_compromisso{
font-size: 30px;
 position: absolute;
 top: 650px;
left: 5%;
 
}
.li_compromisso{
margin: 15px;
font-style: italic;

}
.li_compromisso::before{
content:"🌽" ;
} 
.local_contato{
background: linear-gradient(#adf597, #6c975f);
width: 100%;
height: 420px;
}
.titulo_contato{
  font-size: 40px;
  color: #05912f;
  position: absolute;
  top: 900px;
  left: 10%;
}
.lu_local_contato{
font-size: 25px;
position: absolute;
top: 1020px;
left: 5%;
}
li_local_contato{
margin: 5px;
font-style: italic;
}
#fone::before{
content:"🕿 " ;
} 
#whats::before{
content:"🕿 " ;
}
#email:before{
  content: "@ ";
}
.mapa{
width: 400px;
height: 300px;
position: absolute;
left: 60%;
 top: 980px;
}
footer{
  text-align: center;

	background: rgb(2, 49, 2);
	padding: 20px 0;
  width: 100%;
  height: 270px;
}
.copyright{
  color: #FFFFFF;
	font-size: 20px;
	margin: 5px 0 0;
}
