.produtos{
    width: 100px;
    height: 500px;
    background: linear-gradient(#e0f7d9, #adf597);
}

.titulo_produtos{
    font-size: 65px;
    padding-left: 250px;
    padding-top: 10px;
    color: #05912f;

}
.p_pamonhas{
    font-size: 45px;
    padding-left: 100px;
    padding-top: 23px;
    padding-bottom: 18px;
    color: #0e5a25;
    font-style: italic;
}
.li_pamonha{
    font-size: 20px;
    padding-left: 50px;
    padding-top: 15px;
    font-style: italic;
}
.li_pamonha::before{
    content:"🌽" ;
}
.img_produtos{
    width: 300px;
    height: 250px;
    position: absolute;
    right: 1%;
     left: 45%;
     top: 460px;
}
.p_outras_delicias{
    font-size: 45px;
    position: absolute;
    right: 1%;
    left: 75%;
    top: 390px;
    color: #0e5a25;
    font-style: italic;
}
.outras_delicias{
    font-size: 20px;
    padding-left: 1000px;
    padding-top: 15px;
    font-style: italic;
    left: 800px;
}
.ul_outras_delicias{
    font-size: 30px;
     position: absolute;
     top: 460px;
   
}
.outras_delicias::before{
    content:"🌽" ;
}